.book {
  margin: 0px 1.5rem;
  height: 21rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.book .info > img {
  margin-right: 1rem;
}

.book .info {
  display: flex;
  flex-flow: row nowrap;
}

p-rating {
  font-size: x-large;
}
