<div class="card m-3" style="width: 18rem">
  <img
    src="{{ apiUrl }}/{{ book.imageUrl }}"
    class="card-img-top"
    alt="book cover"
  />
  <div class="card-body">
    <h5 class="card-title">
      <p>
        <a
          [routerLink]="['/books', book.id]"
          class="link-success link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
          >{{ book.name }}</a
        >
      </p>
    </h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a
        [routerLink]="['/authors', book.author.id]"
        class="link-secondary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"
        >{{ book.author.firstName }} {{ book.author.lastName }}</a
      >
    </li>
  </ul>
</div>
