<div class="vertical-menu">
    <nav class="nav flex-column">
      <a class="nav-link" (click)="selectOption('All')" [class.active]="selectedOption === 'All'" href="/user">All</a>
      <a class="nav-link" (click)="selectOption('Read')" [class.active]="selectedOption === 'Read'"href="/user">Read</a>
      <a class="nav-link" (click)="selectOption('Currently Reading')" href="/user" [class.active]="selectedOption === 'Currently Reading'">Currently Reading</a>
      <a class="nav-link" (click)="selectOption('Want to Read')" href="/user" [class.active]="selectedOption === 'Want to Read'">Want to Read</a>
    </nav>
  </div>