<div class="cards">
  @for(book of books; track book.id){
    <div class="card" style="background-color: #E6E4D8;">
      <div class="card__img">
        <picture>
          <source media="(max-width: 320px)" [srcset]="'http://localhost:5000/' + book.imageUrl">
          <source media="(min-width: 538px)" [srcset]="'http://localhost:5000/' + book.imageUrl">
          <img [src]="'http://localhost:5000/' + book.imageUrl" style="width:100%; height: 100%;">
        </picture>
      </div>
      <div class="card__details">
        <h3 for="cozyroom">{{book.name}}</h3>
        <div class="address"><p class="tag-section"><strong>Author : </strong><a [routerLink]="['/authors', book.authorId.id]">{{book.authorId.firstName}} {{book.authorId.lastName}}</a></div>
        <div class="price">
          <div class="star">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
          </div>
          <div class="price__l">
            <p class="tag-section"><strong>Category : </strong>
            <a  [routerLink]="['/categories', book.categoryId.id]">
            <span class="price__label">{{book.categoryId.name}}</span>
          </a>
          </div>
        </div>
        <button (click)="redirectToBook(book.id)">Read</button>
      </div>
    </div>
  }
</div>
