  <div class="cards">
  @for(book of books; track book.id){
      <div class="card" style="background-color: #E6E4D8;">
        <div class="card__img">
            <picture>
              <source media="(max-width: 320px)"
                      [srcset]="book.imageUrl">
              <source media="(min-width: 538px)"
                      [srcset]="book.imageUrl">
              <img [src]="book.imageUrl">
            </picture>
        </div>
        <div class="card__details">
          <h3 for="cozyroom">{{book.name}}</h3>
          <div class="address">{{book.author.firstName}}{{ book.author.lastName }}</div>
          <div class="price">
            <div class="star">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
              <img src="https://image.flaticon.com/icons/svg/291/291205.svg" alt="">
            </div>
            <div class="price__l">
              <span class="price__label">{{book.category}}</span>
            </div>
          </div>
          <button (click)="redirectToBook(book.id)">Want To Read </button>
        </div>
      </div>
  }
</div>
