.container {
  padding: 2rem 0rem;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 800px;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }

  img{
    height:100px;
    width:100px;
    border-radius: 50%;
  }
}
th{
  text-align: center;
  background-color: #372213;
  color: #E6E4D8;
}
td{
  text-align: center;
  color: #372213;
}
a{
  color: #a84b08;
}
