<div class="vertical-menu">
  <nav class="nav flex-column">
    <div *ngIf="selectedTab === 'all'">
      <app-all-table></app-all-table>
    </div>
    <div *ngIf="selectedTab === 'read'">
    </div>
    <div *ngIf="selectedTab === 'currently-read'">
    </div>
    <div *ngIf="selectedTab === 'want-to-read'">
    </div>

    <button class="nav-link" (click)="switchTab('all')">All</button>
    <button class="nav-link" (click)="switchTab('read')">Read</button>
    <button class="nav-link" (click)="switchTab('currently-read')">Currently Reading</button>
    <button class="nav-link" (click)="switchTab('want-to-read')">Want to Read</button>
  </nav>
</div>
