<div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a>
            <span class="icon">
              <fa-icon [icon]="websiteIcon"></fa-icon>
            </span>
            <span class="title">Good Reads</span>
          </a>
        </li>

        <li>
          <a
            role="button"
            (click)="onButtonClicked('All')"
            [routerLink]="'all'"
          >
            <span class="icon">
              <fa-icon [icon]="categoryIcon"></fa-icon>
            </span>
            <span class="title">All</span>
          </a>
        </li>

        <li>
          <a (click)="onButtonClicked('Read')" [routerLink]="'read'">
            <span class="icon">
              <fa-icon [icon]="booksIcon"></fa-icon>
            </span>
            <span class="title">Read</span>
          </a>
        </li>

        <li>
          <a (click)="onButtonClicked('currentlyReading')" role="button" [routerLink]="'currentread'">
            <span class="icon">
              <fa-icon [icon]="booksIcon"></fa-icon>
            </span>
            <span class="title">currently Reading</span>
          </a>
        </li>

        <li>
          <a (click)="onButtonClicked('wantToRead')" role="button" [routerLink]="'wantread'">
            <span class="icon">
              <fa-icon [icon]="booksIcon"></fa-icon>
            </span>
            <span class="title"> Want To Read</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <div class="main" [class.active]="isNavigationActive">
    <div class="topbar">
      <div class="toggle" (click)="toggleNavigation()">
        <fa-icon [icon]="toggleIcon"></fa-icon>
      </div>
    </div>
  </div>
