/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

:root {
  --background-color: #e6e4d8;
}
html,
body {
  height: 100%;
}
body {
  background-color: var(--background-color);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
