.bg{
    background-color: #f4f1ea;
  }
  .navbar-logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: auto;
  }
  .custom-search{
    width: 400px;
    height: auto;
  }
 
  .navbar-nav .nav-link:hover {
    font-weight: bold;
    color: #372213;
  }
  .custom-button {
    background-color: #372213;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .custom-button:hover {
    background-color: #f4f1ea;
    color: #372213;
  }
  .u-ico{
    width: 25px;
    margin-right: 10px;
    transition: transform 0.3s ease; 
  }
  .u-ico:hover{
    transform: scale(1.5); 
  }
  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: #372213; 
    size: 50px;
  }
  
  