<nav class="navbar navbar-expand-lg navbar-light  bg">
  <a class="navbar-brand" routerLink="/user" style="position: relative;">
    <img src="assets/logo.png" alt="" class="navbar-logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link active"href="/user" aria-current="page" routerLink="" routerLinkActive="active-link">Home</a>
   </li>
      <li class="nav-item">
        <a class="nav-link" href="/user" aria-current="page" routerLink="" routerLinkActive="active-link">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user">Authors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user">Books</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 mx-auto">
      <div class="input-group"> 
        <input class="form-control mr-sm-2 custom-search" type="search" placeholder="ex: oliver twist" aria-label="Search">
        <div class="input-group-append"> 
          <button class="btn  my-2 my-sm-0 custom-button" type="submit">Search</button>
        </div>
      </div>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-3"> 
        <a class="nav-link" href="/user"><i class="fa fa-user-circle"></i> <img src="assets/u.png" alt="" class="u-ico"></a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" href="/user"><i class="fa fa-sign-out"></i> <img src="assets/l.png" alt="" class="u-ico"></a>
      </li>
    </ul>
  </div>
</nav>

<div> 
  <router-outlet></router-outlet> 
</div>