.header {
    background: #f9f7f4;
    padding: 25px;
    position: relative;
    
}

.logo-container {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    width: 180px;
}

.logo:hover {
    cursor: pointer;
}

.desktop-menu {
    margin-top: 24px;
}

.desktop-menu ul {
    padding: 0;
    margin: 15px;
}

.desktop-menu ul li {
    list-style-type: none;
    color: #372213;
    display: inline-block;
    font-size: 18px;
    margin-left: 26px;
}

.desktop-menu ul li:hover {
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(37, 21, 1);
    transition: 0.04s ease-in-out;
}