<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo-container">
                    <img src="assets/logo.png" alt="" class="logo">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                
                <div class="desktop-menu">
                    <ul>
                        <li>Login</li>
                        <li>Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
</html>